.about_top {
    position: relative;
    width: 99%;
    height: 10px;
    top: 650px;
    color: rgb(254, 252, 252);
}

.empty {
    opacity: 0;
}

.maindiv_about {
    position: relative;
    width: 100%;
    top: 0px;
    margin: 3rem 0;
    color: white;
    background-color: rgb(234, 234, 234);
}

.left_boy {
    position: relative;
    width: 40%;
    top: 20%;
    height: 70%;
    left: 5%;
    opacity: 100%;
}

.whoami {
    position: relative;
    left: 45%;
    width: 40%;
    color: rgb(12, 12, 12);
    text-shadow: 5px 5px 3px rgb(244, 241, 241);
    font-family: cursive;
}

.right_about {
    position: absolute;
    width: 40%;
    left: 50%;
    top: 20%;
    height: auto;
    color: rgb(8, 8, 8);
    overflow: hidden;
}

.whatsapp_logo {
    position: absolute;
    top: 0%;
    left: 85%;
    width: 50px;
    height: 50px;
}

.message_div {
    position: absolute;
    top: 0%;
    width: 340px;
    height: 99%;
    display: flex;
}

.close {
    cursor: pointer;
    position: relative;
    top: 0px;
    left: 340px;
    background-color: red;
    height: 30px;
    border: 2px solid black;
}
