.maindiv {
    position: absolute;
    top: 10%;
    width: 100%;
}

.fake {
    opacity: 0;
}

.photo-container {
    left: 10%;
    top: 25%;
    position: relative;
    border: 2px solid orange;
    box-shadow: 8px 8px 9px black;
    width: 20%;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    animation: slide 2s ease forwards;
}


.icons {
    position: relative;
    top: 80%;
    left: 14%;
    width: 150px;
    display: grid;
    gap: 25px;
    grid-template-columns: auto auto auto auto;
    animation: paraslide 2s ease forwards;
}

.linkedin {
    width: 75px;
    height: 50px;
}

.instagram {
    width: 40px;
    height: 40px;
    margin-top: 6px;
}

.github {
    width: 50px;
    height: 47px;
    margin-left: 12px;
}

.whatsapp {
    width: 50px;
    height: 48px;
    margin-left: 10px;
}


img {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;

}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(20%);
    }
}

.para {
    position: absolute;
    left: 50%;
    top: 27%;
    animation: paraslide 2s ease forwards;
}

/* @keyframes paraslide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
} */

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: xx-large;

}


p {
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: normal;
    font-style: italic;
}

.cv_button {
    position: absolute;
    top: 93%;
    left: 50%;
    right: 0%;
    width: 100px;
    animation: paraslide 2s ease forwards;
}

.download_cv {
    position: relative;
    color: white;
    background-color: crimson;
    text-decoration: none;
    margin-left: 50%;
}


.cv_button :hover {
    color: yellow;
    background-color: black;
}

@media(max-width:768px) {
    .icons {
        position: relative;
        top: 80%;
        left: 8%;
        width: 100px;
        display: grid;
        gap: 5px;
        grid-template-columns: auto auto auto auto;
        animation: paraslide 2s ease forwards;
    }
}

@media(max-width: 426px) {
    .photo-container {
        left: 5%;
        top: 25%;
        position: relative;
        border: 2px solid orange;
        box-shadow: 8px 8px 9px black;
        width: 20%;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        animation: slide 2s ease forwards;
    }

    .icons {
        position: relative;
        top: 80%;
        padding-top: 20px;
        left: 5%;
        width: 50px;
        display: grid;
        gap: 2px;
        grid-template-columns: auto auto auto auto;
        animation: paraslide 2s ease forwards;
    }

    .linkedin {
        width: 37px;
        height: 25px;
    }

    .instagram {
        width: 20px;
        height: 20px;
        margin-top: 3px;
    }

    .github {
        width: 25px;
        height: 23px;
        margin-left: 12px;
    }

    .whatsapp {
        width: 25px;
        height: 24px;
        margin-left: 10px;
    }

    .para {
        position: absolute;
        left: 45%;
        top: 10%;
        animation: paraslide 2s ease forwards;
    }

    h1 {
        font-family: 'Courier New', Courier, monospace;
        font-style: oblique;
        font-size: 16px;

    }

    h2 {
        margin: 0px;
        font-size: 14px;
    }

    p {
        font-size: 12px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-variant: normal;
        font-style: italic;
    }

    .cv_button {
        position: absolute;
        top: 87%;
        left: 45%;
        right: 0%;
        animation: paraslide 2s ease forwards;
    }
}