.projects {
    position: absolute;
    top: 2000px;
    width: 100%;
    padding: 50px 20px;
    background-color: #f3f3f3;
    color: #fff;
    box-sizing: border-box;
}

.head {
    text-align: center;
    font-size: 50px;
    font-family: cursive;
    color: #000000;
    margin-bottom: 40px;
    text-shadow: 2px 2px 1px rgb(142, 142, 142);
}

.projects_grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 800px;
    margin: 0 auto;
}

.project_card {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.project_card h2 {
    color: #6f0000;
    margin-bottom: 10px;
}

.project_card h3 {
    margin: 10px 0 5px 0;
    color: #007795;
}

.project_card ul {
    margin-left: 20px;
    list-style-type: disc;
}

.project_card li {
    margin-bottom: 5px;
    color: black;
}

@media(max-width:768px) {

    .projects {
        position: absolute;
        top: 2200px;
        width: 100%;
        padding: 50px 20px;
        background-color: #f3f3f3;
        color: #fff;
        box-sizing: border-box;
    }
}

@media(max-width:426px) {
    .projects {
        position: absolute;
        top: 2800px;
        width: 100%;
        padding: 50px 20px;
        background-color: #f3f3f3;
        color: #fff;
        box-sizing: border-box;
    }
}

@media(max-width:376px) {
    .projects {
        position: absolute;
        top: 2900px;
        width: 100%;
        padding: 50px 20px;
        background-color: #f3f3f3;
        color: #fff;
        box-sizing: border-box;
    }
}